<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kaiyuan.daily-update</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/bbbingfeng/PythonProject/trove_开源金工/run_daily_update.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/bbbingfeng/PythonProject/trove_开源金工</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>8</integer>
        <key>Minute</key><integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/bbbingfeng/PythonProject/trove_开源金工/live_update.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/bbbingfeng/PythonProject/trove_开源金工/live_update.log</string>
</dict>
</plist>
